apiVersion: apps/v1
kind: Deployment
metadata:
  name: k8swalski
spec:
  template:
    spec:
      containers:
      - name: k8swalski
        resources:
          requests:
            cpu: 100m
            memory: 128Mi
          limits:
            cpu: 300m
            memory: 256Mi
        env:
        - name: LOG_FORMAT
          value: "json"
        - name: LOG_WITHOUT_NEWLINE
          value: "true"
